* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-giocatore1 {
    height: 100px;
    width: 100px;
    transition: width 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.grid-btn {
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}

#btn-giocatore2 {
    height: 100px;
    width: 100px;
    transition: width 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}

#div-suggerimento{
    min-height: 24px;
}