*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #A8A492;
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: #524646;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-bottom: 20px;
}

#titolo-home {
    transition: transform 0.2s ease;
}

#titolo-home:hover {
    transform: scale(1.2);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

#navbar h1 {
    font-weight: bold;
    margin: 0;
}

#listaNav {
    display: flex;
    gap: 15px;
    margin: 0;
}

#listaNav a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    transition: transform 0.2s ease, color 0.2s ease;
}

#listaNav a:hover {
    transform: translateY(-5px) scale(1.2);
    color: #A8A492;
}

#titolo {
    background-color: white;
    border-radius: 10px;
    padding: 20px 15px;
}


.bg-beige{
    background-color:  #A8A492;
}

.bg-brown {
    background-color: #524646;
}


footer {
    width: 100vw;
    position: relative;
    z-index: 9999;
}

footer ul li a {
    display: inline-flex !important;
    align-items: center;
    gap: 5px;
    color: white;
    transition: transform 0.2s ease, color 0.2s ease;
}

footer ul li a:hover {
    transform: translateY(-5px) scale(1.2);
    color: #A8A492;
}