*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #524646;
    color: white;
    font-weight: bold;
    position: fixed;
}
#navbar h1{
    font-weight: bold;
}

#listaNav{
    display: flex;
    gap: 15px;
}

#listaNav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

#listaNav a:hover{
    transform: translateY(-5px) scale(1.2);
    color: #A8A492;
}