* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#numero {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px;
}

#campo-tabellina {
    margin-top: 15px;
    font-size: 1.1rem;
    line-height: 1.8;
}

#btn-invia{
    max-width: 200px;
}